/* scroll top styles */

.scroll-top {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: -60px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 30px 50px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  background-color: rgb(18, 146, 238);
  background-size: 200%;
  color: rgb(255, 255, 255);
  padding: 0px;
  border-radius: 50%;
  border: none;
  background-position: 0px center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  overflow: hidden;
}

.scroll-top.show {
  visibility: visible;
  opacity: 1;
  bottom: 60px;
}
